@charset "UTF-8";

/* general */
.botao {
    animation: floating 2.5s ease-in-out infinite alternate;
}

#drag1:hover {
    animation: shake .5s infinite;
}

#drag2:hover {
    animation: shake .5s infinite;
}

#drag3:hover {
    animation: shake .5s infinite;
}

/* inicio section */
.nome-inicio {
    animation: floating .5s linear infinite alternate;
}

/* habilidades section */
.card-habilidade {
    animation: floating 2.5s ease-in-out infinite alternate;
}

/* footer */
#media1:hover {
    animation: expand .1s linear forwards;
}

#media2:hover {
    animation: expand .1s linear forwards;
}

#media3:hover {
    animation: expand .1s linear forwards;
}