@charset "UTF-8";

/* general */
.b1 {
    animation: floatingY 2.5s ease-in-out infinite alternate;
}

#drag1:hover {
    animation: shake .5s infinite;
}

#drag2:hover {
    animation: shake .5s infinite;
}

#drag3 {
    animation: shakeAngular .5s infinite;
}

/* inicio section */
.nome-inicio {
    animation: floatingY .5s linear infinite alternate;
}

#arteInicio {
    animation: floatingX 2.5s ease-in-out infinite alternate;
}

/* projetos section */
.card-project {
    animation: floatingY 3s ease-in-out infinite alternate;
}

/* habilidades section */
.card-habilidade {
    animation: floatingY 2.5s ease-in-out infinite alternate;
}

.card-habilidade:hover {
    animation: expand .4s ease-out forwards;
}

/* footer */
#media1:hover {
    animation: expand .1s linear forwards;
}

#media2:hover {
    animation: expand .1s linear forwards;
}

#media3:hover {
    animation: expand .1s linear forwards;
}