@charset "UTF-8";

body {
    color: #343334;
}

header {
    background-color: #F2913D;
}

a {
    color: #343334;
}

a:hover {
    color: #575958;
}

footer {
    background-color: #343334;
    color: #F2F2F2;
}


#inicio {
    background-color: #f2f2f2;
}   

#sobre {
    background-color: #F2913D;
}

#projetos {
    background-color: #f2f2f2;
}

#habilidades {
    background-color: #F2913D;
}