@charset "UTF-8";

/* geral */
body {
    color: #343334;
}
header {
    background-color: #F2913D;
}

.header {
    color: #343334;
}

.header:hover {
    color: #575958;
}

/* tela de inicio */
#inicio {
    background-color: #f2f2f2;
}

.botao {
    border-color: #343334;
    color: #343334;
}

.botao:hover {
    background-color: #F2913D;
    transition: .6s;
}

/* tela sobre mim */
#sobre {
    background-color: #F2913D;
}

/* tela de projetos */
#projetos {
    background-color: #f2f2f2;
}

.selecao:hover {
    background-color: #F2913D;
    transition: .6s;
}

.descricao-projeto {
    background-color: #f2f2f2;
}

/* tela de habilidades */
#habilidades {
    background-color: #F2913D;
}

.card-habilidade {
    background-color: #f2f2f2;
}

/* footer */
footer {
    background-color: #343334;
    color: #f2f2f2;
}

.footer {
    color: #f2f2f2;
}