@charset "UTF-8";

/* geral */
body {
    color: #343334;
}

header {
    background: radial-gradient(circle, rgba(242,145,61,1) 80%, rgba(218,132,58,1) 100%);
}

.header {
    color: #343334;
}

.header:hover {
    color: #575958;
}

/* tela de inicio */
#inicio {    
    background: radial-gradient(circle, rgba(242,242,242,1) 22%, rgba(224,224,224,1) 62%);
}

.botao {
    border-color: #343334;
    color: #343334;
}

.botao:hover {
    background-color: #F2913D;
    transition: .6s;
}

/* tela sobre mim */
#sobre {
    background: radial-gradient(circle, rgba(242,145,61,1) 60%, rgba(218,132,58,1) 100%);
}

.texto-section {
    background-color: #f2f2f2;
}

/* tela de projetos */
#projetos {
    background: radial-gradient(circle, rgba(242,242,242,1) 60%, rgb(224, 224, 224) 100%);
}

.selecao:hover {
    background-color: #F2913D;
    transition: .6s;
}

.descricao-projeto {
    background-color: #f2f2f2;
}

/* tela de habilidades */
#habilidades {
    background: radial-gradient(circle, rgba(242,145,61,1) 60%, rgba(218,132,58,1) 100%);
}

.card-habilidade {
    background-color: #f2f2f2;
}

/* footer */
footer {
    background-color: #343334;
}

.footer {
    color: #f2f2f2;
}

.footer:hover {
    color: #575958;
}