@charset "UTF-8";

:root {
    --cor1: #343334;
    --cor2: #585759;
    --cor3: #F2913D;
    --cor4: #F2A663;
    --cor5: #F2F2F2;
}

/* geral */
body {
    color: var(--cor1);
    background-color: var(--cor1);
}

header {
    background-color: var(--cor3);
}

.header {
    color: var(--cor1);
}

.header:hover {
    color: var(--cor2);
}

/* tela de inicio */
#inicio {    
    background-image: linear-gradient(0deg, var(--cor5) 99.3%, var(--cor1) 100%);
}

.botao {
    border-color: var(--cor1);
    color: var(--cor1);
}

.b1:hover {
    background-color: var(--cor3);
    transition: .6s;
}

.b2 {
    border: none;
    background-color: var(--cor3);
}

.b2:hover {
    background-color: var(--cor1);
    color: var(--cor3);
    transition: .3s;
}

/* tela sobre mim */
#sobre {
    background-image: linear-gradient(0deg, var(--cor3) 99.3%, var(--cor1) 100%);
}

#aboutTextBox {
    background-color: var(--cor5);
}

/* tela de projetos */
#projetos {
    background-image: linear-gradient(0deg, var(--cor5) 99.3%, var(--cor1) 100%);
}

.card-project {
    background-color: var(--cor5);
    color: var(--cor1);
}

/* tela de habilidades */
#habilidades {
    background-image: linear-gradient(0deg, var(--cor3) 99.3%, var(--cor1) 100%);
}

.card-habilidade {
    background-color: var(--cor5);
}

/* footer */
footer {
    background-color: var(--cor1);
}

.footer {
    color: var(--cor5);
}

.footer:hover {
    color: var(--cor2);
}