@charset "UTF-8";

:root {
    --main: Brain;
    --subtitle: TylerDurden;
    --name: Patrick;
    --text: Cafe;
    --textB: CafeBold;
    --default: sans-serif;
}

@font-face {
    /* Texto-Início e Botões*/
    font-family: 'Brain';
    src: url('../fonts/Brain.ttf') format('truetype');
}

@font-face {
    /* Navigation e Subtítulos*/
    font-family: 'TylerDurden';
    src: url('../fonts/TylerDurden.ttf') format('truetype');
}

@font-face {
    /* Nome-Início */
    font-family: 'Patrick';
    src: url('../fonts/Patrick.ttf') format('truetype');
}

@font-face {
    /* Corpo de texto*/
    font-family: 'Cafe';
    src: url('../fonts/LG\ Cafe.ttf') format('truetype');
}

@font-face {
    /* Corpo de texto*/
    font-family: 'CafeBold';
    src: url('../fonts/LG\ Cafe\ Bold.ttf') format('truetype');
}


/* geral */
h2 {
    font: bold 40px var(--subtitle), var(--default);
}

header {
    font: bold 20px var(--subtitle), var(--default);
}

footer {
    font: normal 16px var(--subtitle), var(--default);
}

.botao {
    font: normal 27px var(--main), var(--default);
}

.b2 {
    font-size: 22px;
}

/* tela de inicio */
.texto-inicio {
    font: normal 30px var(--main), var(--default);
}

.nome-inicio {
    font: normal 160px var(--name), var(--default);
}

/* tela sobre mim */
#aboutTextBox {
    font: normal 20px var(--textB), var(--default);
}

/* tela de projetos */
.card-project h3 {
    font: normal 25px var(--main), var(--default);
}

.card-project p {
    font: normal 15px var(--textB), var(--default);
}

/* tela de habilidades */
.habilidade-descricao {
    font: normal 20px var(--text), var(--default);
    font-size: 18px;
}

.subgrupo h3 {
    font: normal 40px var(--textB), var(--default);
}