@charset "UTF-8";

@font-face { /* Título */
    font-family: 'Square';
    src: url('../fonts/Square.ttf') format('truetype');
}

@font-face { /* Texto-Início e Botões*/
    font-family: 'Brain';
    src: url('../fonts/Brain.ttf') format('truetype');
}

@font-face { /* Nome-Início */
    font-family: 'Patrick';
    src: url('../fonts/Patrick.ttf') format('truetype');
}

@font-face { /* Navigation e Subtítulos*/
    font-family: 'TylerDurden';
    src: url('../fonts/TylerDurden.ttf') format('truetype');
}

@font-face { /* Corpo de texto*/
    font-family: 'CafeBold';
    src: url('../fonts/LG\ Cafe\ Bold.ttf') format('truetype');
}

@font-face { /* Corpo de texto*/
    font-family: 'Cafe';
    src: url('../fonts/LG\ Cafe.ttf') format('truetype');
}

/* geral */
h2 {
    font: bold 40px TylerDurden, Arial, Helvetica, sans-serif;
}

header {
    font: bold 25px Square, Arial, Helvetica, sans-serif;
}

.header {
    font: bold 20px TylerDurden, Arial, Helvetica, sans-serif;
}

footer {
    font: normal 20px TylerDurden, Arial, Helvetica, sans-serif;
}

.botao {
    font: normal 27px Brain, Arial, Helvetica, sans-serif;
}

.b2 {
    font-size: 20px;
}

/* tela de inicio */
.texto-inicio {
    font: normal 30px Brain, Arial, Helvetica, sans-serif;
}

.nome-inicio {
    font: normal 160px Patrick, Arial, Helvetica, sans-serif;
}

/* tela sobre mim */
.texto-section {
    font: normal 22px CafeBold, Arial, Helvetica, sans-serif;
}

/* tela de projetos */
.selecao {
    font: normal 25px TylerDurden, Arial, Helvetica, sans-serif;
}

.texto-descricao h3 {
    font: normal 25px Brain, Arial, Helvetica, sans-serif;
}

.texto-descricao p {
    font: normal 18px CafeBold, Arial, Helvetica, sans-serif;
}