@charset "UTF-8";

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-1deg); }
    20% { transform: translate(-1px, 0px) rotate(1deg); }
    30% { transform: translate(2px, 1px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 1px) rotate(-1deg); }
    60% { transform: translate(-2px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(-1deg); }
}

@keyframes shakeAngular {
    0% { transform: translate(1px, 1px) rotate(-15deg); }
    10% { transform: translate(-1px, -1px) rotate(-16deg); }
    20% { transform: translate(-1px, 0px) rotate(-14deg); }
    30% { transform: translate(2px, 1px) rotate(-15deg); }
    40% { transform: translate(1px, -1px) rotate(-14deg); }
    50% { transform: translate(-1px, 1px) rotate(-16deg); }
    60% { transform: translate(-2px, 1px) rotate(-15deg); }
    70% { transform: translate(2px, 1px) rotate(-16deg); }
    80% { transform: translate(-1px, -1px) rotate(-14deg); }
    90% { transform: translate(1px, 1px) rotate(-15deg); }
    100% { transform: translate(1px, -1px) rotate(-16deg); }
}

@keyframes floatingY {
    100% {
        transform: translateY(-3px);
    }
}

@keyframes floatingX {
    100% {
        transform: translateX(-3px);
    }
}

@keyframes expand {
    100% {
        transform: scale(1.1);
    }
}

@keyframes extend {
    100% {
        width: 240px;
    }
}

@keyframes showUp {
    100% {
        opacity: 1;
        color: #343334;
        transform: translate(0);
    }
}

@keyframes goUp {
    100% {
        height: 0px;
    }
}

@keyframes fire {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bg {

    100% {
        background: radial-gradient(circle, rgba(242,242,242,1) 22%, rgba(224,224,224,1) 62%);
    }
}