@charset "UTF-8";

/* geral */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    height: 3em;
}

header a {
    text-decoration: none;
    margin: 1.5em;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding: 25px;
    text-align: center;
}

input {
    display: none;
}

h2 {
    margin-bottom: 30px;
}

.botao {
    padding: 5px;
    margin: 12px;
    width: fit-content;
    border: 3px solid;
    border-radius: 7px;
    cursor: pointer;
}

.b1 {
    height: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

.b2 {
    height: 40px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.20);
}

/* tela de inicio */
#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    gap: 100px;
}

.arte-animada {
    height: 100%;
    padding-left: 300px;
}

#gifInicio {
    height: 700px;
    position: absolute;
    transform: translate(-65%, -3.6%);
    opacity: 0;
}

#arteInicio {
    height: 700px;
    position: absolute;
    transform: translate(-85%, -3.5%);
}

#container {
    height: 700px;
    width: 450px;
    position: absolute;
    transform: translate(-85.8%, -3%);
    opacity: 0;
}

.saudacao {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.texto-inicio {
    padding-left: 5px;
}

/* tela sobre mim */
#sobre {
    height: 580px;
}

.section-sobre {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.texto-section {
    width: 420px;
    border-radius: 30px;
    padding: 22px 15px;
    box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.40);
    margin-bottom: 10px;
    text-align: center;
}

/* tela de projetos */
#projetos {
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projetos {
    display: flex;
    width: 950px;
    height: 450px;
    overflow: hidden;
    border-bottom: 1px solid #343334;
}

.navegacao-projetos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.selecao {
    height: 25%;
    width: 100%;
    border-top: 1px solid #343334;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-slider {
    width: 70%;
    height: 400%;   /* n.100 */
    border-left: 1px solid #343334;
    border-right: 1px solid #343334;
}

.card-projeto {
    height: 25%;    /* 100/n */
    width: 100%;
    transition: .6s;
}

.card-projeto img {
    border-top: 1px solid #343334;
    height: 80%;
    width: 100%;
}

.descricao-projeto {
    height: 20%;
    width: 100%;
    display: flex;
}

.texto-descricao {
    width: 85%;
    text-align: start;
    padding: 10px;
}

.botao-descricao {
    padding-top: 10px;
}

/* navigation-projetos */
#proj1:checked ~ .s1 {
    margin-top: 0;
}

#proj2:checked ~ .s1 {
    margin-top: -67.8%;
}

#proj3:checked ~ .s1 {
    margin-top: -135.6%;
}

#proj4:checked ~ .s1 {
    margin-top: -203.6%;
}

/* habilidades */
#habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-bottom: 50px;
}

.subgrupo {
    background-color: #f2f2f2;
    height: fit-content;
    width: 700px;
    border-radius: 30px;
    margin-bottom: 25px;
    padding-bottom: 35px;
    box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.40);
}

.subgrupo h3{
    text-align: start;
    padding: 20px 60px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 96%;
    gap: 40px 30px;
    margin: 0px 30px;
}

.card-habilidade {
    display: flex;
    padding: 15px;
    height: 70px;
    width: 270px;
    gap: 20px;
    border-radius: 20px;
    border: 3px solid #343334;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.40);
    overflow: hidden;
    animation: none;
}

.habilidade-descricao {
    text-align: start;
    padding-top: 3px;
}

.habilidade-descricao h5 {
    padding-top: 23px;
}

/* footer */
footer {
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    color: white;
}

.medias {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    height: 50%;
}

.medias img {
    height: 100%;
}

#drag3 {
    height: 90%;
}
