@charset "UTF-8";

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: rgb(89, 89, 209);
    font: normal 18pt Arial;
}

header {
    color: white;
    text-align: center;
    margin: 30px;
}

section {
    background-color: aliceblue;
    border-radius: 10px;
    width: 450px;
    height: 400px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.53);
}

div {
    text-align: center;
    padding: 7px;
    margin: 10px;
}

h2 {
    margin: 10px;
}

footer {
    margin: 20px;
    color: white;
    text-align: center;
}