@charset "UTF-8";

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: #ffffab;
}

section > img {
    position: relative;
    width: 100%;
    max-width: 1600px;
}

p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -130%);
    color: white;
}